body {
    background-color: #fbff00;
  }
  
  .display-4 {
      color: #3341ff;
      display: block;
      text-align: center;
  
  }
  
  .jumbotron{
      padding-top: 1%;
      background-color:transparent !important;
      justify-content: center;
  }
  
  img {
  margin-top: 5%;
    width: 20%;
    height: 6%;
    text-align: center;
  }
  
  