body {
    background-color: #ff7b00;
  }
  
  .display-4 {
      color: #63ff33;
  
  }
  
  .jumbotron{
      padding-top: 1%;
      background-color:transparent !important;
  }
  
  img {
  margin-top: 5%;
    width: 15%;
  }
  
  .submitFont{
      color: green;
  }